<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.HouseCarefulMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.HouseCareful" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="chuang" property="chuang" jdbcType="INTEGER" />
    <result column="shafa" property="shafa" jdbcType="INTEGER" />
    <result column="kongtiao" property="kongtiao" jdbcType="INTEGER" />
    <result column="ranqi" property="ranqi" jdbcType="INTEGER" />
    <result column="xiyiji" property="xiyiji" jdbcType="INTEGER" />
    <result column="kuandai" property="kuandai" jdbcType="INTEGER" />
    <result column="dianshi" property="dianshi" jdbcType="INTEGER" />
    <result column="bingxiang" property="bingxiang" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house_id, chuang, shafa, kongtiao, ranqi, xiyiji, kuandai, dianshi, bingxiang
  </sql>


<!--  根据房屋id查询-->
  <select id="selectByHouseId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_house_careful
    where house_id = #{houseId}
  </select>
</mapper>