<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.MoneyMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Money" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
<!--    关联用户表-->
    <association property="user" select="cn.bdqn.mapper.UserMapper.selectByPrimaryKey" column="user_id"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, money
  </sql>

<!--  根据id查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_money
    where id = #{id,jdbcType=INTEGER}
  </select>

<!--  根据用户id查询-->
  <select id="selectByUerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_money
    where user_id = #{userId}
  </select>


  <!--  //    根据用户id修改钱数-->
  <update id="updateByUserId" parameterType="cn.bdqn.domain.Money" >
    update t_money
    set
      money = #{money,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

<!--  添加对象-->
  <insert id="insert" parameterType="cn.bdqn.domain.Money" >
    insert into t_money (id, user_id, money
      )
    values (#{id,jdbcType=INTEGER}, #{user.id,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}
      )
  </insert>


  <insert id="insertSelective" parameterType="cn.bdqn.domain.Money" >
    insert into t_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="money != null" >
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Money" >
    update t_money
    <set >
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>