<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.StartMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Start" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start_name" property="startName" jdbcType="VARCHAR" />
    <result column="start_value" property="startValue" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start_name, start_value, state
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_start
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="cn.bdqn.domain.Start" >
    insert into t_start (id, start_name, start_value, 
      state)
    values (#{id,jdbcType=INTEGER}, #{startName,jdbcType=VARCHAR}, #{startValue,jdbcType=INTEGER}, 
      0)
  </insert>


  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Start" >
    update t_start
    set start_name = #{startName,jdbcType=VARCHAR},
      start_value = #{startValue,jdbcType=INTEGER},
      state = 0
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
       <include refid="Base_Column_List" />
      from t_start
      where  state = 0
  </select>


  <update id="updateById" parameterType="cn.bdqn.domain.Start" >
    update t_start
    set
      state = 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCount" resultType="java.lang.Integer">
   select
      COUNT(*)
    from t_start
    where  start_name = #{startName,jdbcType=VARCHAR} and  start_value = #{stateValue,jdbcType=INTEGER} and state = 0
  </select>

</mapper>