<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.bdqn.domain.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="landlord" property="landlord" jdbcType="INTEGER"/>
        <result column="register_time" property="registerTime" jdbcType="DATE"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, nickname, sex, user_name, idcard, phone, landlord, register_time, image_url, open_id,
    state
  </sql>


    <!--  根据id查询用户-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER} and state = 0
    </select>

    <!-- 查询全部【模糊】分页-->
    <select id="selectByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <trim prefix="where" suffixOverrides="and">
            <!-- 用户名称[模糊]-->
            <if test="username != null and username!=''">
                user_name like concat('%',#{username},'%') and state=0
            </if>
            <if test="username == null or username==''">
                state=0
            </if>
        </trim>
    </select>


    <!-- 根据用户id修改状态-->
    <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.User">
        update t_user
        <set>
            state=1
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>